﻿
 @{ 
    @model ConverterRudraraju.Models.Converter
     }
    <h2>@ViewData["Title"]</h2>

    <div class="col-xs-12">
        <form asp-controller="Converter" asp-action="Convert" method="post" class="form-horizontal" role="form">

            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Temperature_F"></label>
                <input asp-for="Temperature_F" class="form-control" />
                <span asp-validation-for="Temperature_F" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Convert" class="btn btn-info" />
            </div>

        </form>
    </div>

    <h2>@ViewData["Result"]</h2>

<script>
    if(@ViewData["Value"]<11){
        document.body.style.backgroundImage = "url(http://athletics.elms.edu/images/logos/highres/cool-winter-wallpaper.gif)";

    }
    else if (@ViewData["Value"] >=11 && @ViewData["Value"] <=25){
        document.body.style.backgroundImage = "url(https://www.twolittlefleas.co.uk/wp-content/uploads/2013/09/Curacao-beach.jpg)";
    }
    else{
        document.body.style.backgroundImage = "url(http://www.desktopwallpaperhd.net/wallpapers/5/9/widescreen-weather-wallpaper-hot-desert-background-pictures-53625.jpg)";
    }
</script>